<h1>edit page of micropost</h1>




<%= form_for @micropost , url: micropost_path do |form| %>
  <p>
    content: <%= form.text_field :content%>
  </p>
  <p>
    uid : <%= form.text_field :user_id%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end -%>



<%= link_to 'Back', microposts_path %>

