<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: 'Sure to delete?'} %>
  <% end %>
</li>