<h1>index page</h1>
<table border = 1 >
  <tr>
  <th>Name</th>
  <th>Email</th>
</tr>
<% @user.each do |usr| %>
  <tr>
  <td><%=usr.name %></td>
  <td><%= usr.email %></td>
</tr>
<%end %>
</table>
<p><%= link_to "add new user",new_user_path %></p>