<h1>new view</h1>
<%= form_for :user , url: user_index_path do |form| %>
  <p>
    Name : <%= form.text_field :name%>
  </p>
  <p>
    Email : <%= form.text_field :email%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end -%>
