<h1>Edit User Detail</h1>
<%= form_for @user, :url =>{:action => "update", :id =>@user} do |f| %>
<p>Name: <%= f.text_field 'name' %></p>
<p>Roll: <%= f.text_field  'roll' %></p>
<%= f.submit "Save changes" %>
<% end %>
