<h1> welcome</h1>

<table border="1">
  <tr>
    <th>Roll</th>
    <th>Name</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.roll %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td> <b> <%= link_to 'Destroy', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </b></td>
    </tr>
  <% end %>
</table>
<hr />
<p> <%= link_to 'new', new_user_path %> </p>



