<h1>Add new User</h1>

<%= form_for @user do |form| %>
  <p>
    Name : <%= form.text_field :name%>
  </p>
  <p>
    Roll : <%= form.text_field :roll%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end -%>
