<h1> welcome</h1>

<table border="1">
  <tr>
    <th>Roll</th>
    <th>Name</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.roll %></td>
      <td><%= link_to user.name, user_path(user) %></td>
    </tr>
  <% end %>
</table>
<hr />
<p> <%= link_to 'new', {:action => 'new'} %> </p>

