<h1><%= @book.title %></h1>

<p>
   <strong>Price: </strong> $<%= @book.price %><br />
   <strong><%= link_to @book.subject.name, book_path(@book) %></strong>
   <strong>Created Date:</strong> <%= @book.created_at %><br />
<strong>Subject: </strong> <%= link_to @book.subject.name,
:action => "show_subjects", :id => @book.subject.id %><br />
</p>

<p><%= @book.description %></p>

<hr />

<%= link_to 'Back', books_path %>

