<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <%= link_to "About",   about_path %>
      <%= link_to "Contact", contact_path %>
      <a href="http://news.railstutorial.org/">News</a>
    </ul>
  </nav>