<h1>new page</h1>
<%= form_for :items ,url: items_path do |f| %>
<p>
  <%=f.label :name %><br>
  <%=f.text_field :name %>

  <%=f.label :item_idd %><br>
  <%=f.text_field :item_id %>
</p>
<p><%= f.submit %></p>
<% end %>
