
<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>


<p>These are the current books in our system</p>

<ul id = "books">
   <% @books.each do |c| %>
   <li><%= link_to c.title, book_path(c.id)-%></li>

   <b> <%= link_to 'Edit', edit_book_path(c) %></b>

   <b> <%= link_to 'Destroy', book_path(c),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </b>
  <% end %>
</ul>


<% end %>
<ul id = "subjects">
   <% Subject.all().each do |c| %>
   <li><%= link_to c.name, show_subjects_path(c) %></li>
   <% end %>
</ul>




<p><%= link_to "Add new Book", {:action => 'new' }%></p>








